/*~FUENTES~*/
@font-face{
	font-family: Lutin;
	src: url('./lutin.ttf') format('truetype');
}
@font-face{
	font-family: DH;
	src: url('./DH.ttf') format('truetype');
}
@font-face{
	font-family: Chopin;
	src: url('./Chopin.otf') format('opentype');
}
/*~ESTULOS~*/
body{
    width: 310px;
    height: 95px;
    border: 1px black solid;
    text-align: center;
}
#titulo{	
	font-size: 18px;
	font-family: Chopin;
    text-align: center;
 margin-top: -2.5px;
}
